#myGameArea {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

#myGameArea2 {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}
